// ***
// * NOTE: requires a CSS module
// * package.json should install
// * the module came from carol-ui repo
// * https://github.com/totvslabs/carol-ui/tree/2.11.0/libs/scss3
// ***
@import "./node_modules/@carol/scss3/core";

// *** fonts

@import url("https://p.typekit.net/p.css?s=1&k=tzi7sty&ht=tk&f=31141.31142.31144.31145.31171.31172&a=18026690&app=typekit&e=css");

@font-face {
	font-family:"interstate";
	src:url("https://use.typekit.net/af/e5199f/00000000000000003b9ae7f4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/e5199f/00000000000000003b9ae7f4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/e5199f/00000000000000003b9ae7f4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-style:normal;font-weight:400;
}

// *** base

html, body {
	margin: 0;
	padding: 0;
	font-family: $b-font-family;
	line-height: 1.4em;
}

// *** components

.header {
	align-items: center;
	background-color: c(primary darker);
	color: c(neutral white);
	display: flex;
	flex-direction: row;
	padding: spacing(sm) spacing(xl);
}

.header__title {
	flex-grow: 1;
}

.header__label {
	@include font-style-rank(4);

	margin: 0;
}

.header__time {
	@include font-style-rank(6);
}

.header__logos {
	align-items: center;
	display: flex;
	flex-grow: 0;
	height: 48px;
}

.header__logo {
	display: block;
	padding: 0 spacing(sm);
}

.header__logo img {
	transition: 0.8s transform ease;
}

.header__logo img:hover {
	transform: scale(1.1);
}

.header__logo:first-child {
	border-right: 1px solid c(neutral white);
	padding-right: spacing(lg);
	margin-right: spacing(sm);
}

.logo-carol {
	width: 160px;
	height: auto;
}

.logo-totvs {
	width: 110px; 
	height: auto;
}

.main {

}

.footer {
	@include font-style-rank(caption);

	border-top: 1px solid c(neutral 7);
	color: c(text light);
	padding: spacing(md) 0;
	text-align: center;
}

.footer__sites {
	margin-top: spacing(xs);
}

.footer__site {
	display: inline-block;
	padding: 0 spacing(sm);
}

.footer__site:first-child {
	border-right: 1px solid c(neutral 7);
}

.footer__site a {
	color: c(text light);
	text-decoration: none;
}

.footer__site a:hover {
	text-decoration: underline;
}
